<center><h2><font color='#004b87'>Problem Set #2 (BDAT 1004)</font></h2></center>
<p></p>
<center><h3><font color='#004b87'>By Daryoush Shabahang</font></h3></center>
<p></p>
<center><h3><font color='#004b87'>July 8, 2021</font></h3></center>
<p></p>

<h2><font color='#004b87'>Question 1 Python</font></h2>
<p></p>
<li>Consider the following Python module:</li>
<p>a = 0</p>

<p>def b():</p>
<li>global a</li>
<li>a = c(a)</li>

<p>def c(a):</p>
<li>return a + 2</li>

<p>After importing the module into the interpreter, you execute:</p>

<p>>>> b()</p>
<li>>>> b()</li>
<li>>>> b()</li>
<li>>>> a</li>
<li>?</li>

<p>What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.</p>

<p><b>MY ANSWER:</b></p>
<li>In this scenario, a is defined as a global variable, then function b is making changes to it by calling function c to add 2 each time a is interpreted. For example, the value starts at 0, then after the first time a = 2, then the second time a = 4 and finally, the third time a = 6.</li>
<li>Therefore, the final value evaluated will be 6 since function b is called three times.</li>

<h2><font color='#004b87'>Question 2 Python</font></h2>
<p></p>
<li>Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:</li>

<p>>>> fileLength('midterm.py')</p>
<li>284</li>
<li>>>> fileLength('idterm.py')</li>
<li>Traceback (most recent call last):</li>
<li>    File "pyshell#34>", line 1, in module></li>
<li>        fileLength('idterm.py')</li>
<li>    File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename)</li>
<li>FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'</li>

<p>As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:</p>

<p>>>> fileLength('midterm.py')</p>
<li>358</li>
<li>>>> fileLength('idterm.py')</li>
<li>File idterm.py not found.</li>

In [88]:
def fileLength(filename):
    # try to open the file
    try:
        file = open(filename)
        contents = file.read()
        print(len(contents))
        file.close()
    
    # otherwise, this text is printed if the file name is incorrect or file is not found
    except FileNotFoundError:
        print("File", filename, "not found")

fileLength("idterm.py")

File idterm.py not found

<h2><font color='#004b87'>Question 3 Python</font></h2>
<p></p>
<li>Write a class named Marsupial that can be used as shown below:</li>

<p>>>> m = Marsupial())</p>
<li>>>> m.put_in_pouch('doll')</li>
<li>>>> m.put_in_pouch('firetruck')</li>
<li>>>> m.put_in_pouch('kitten')</li>
<li>>>> m.pouch_contents()</li>
<li>['doll', 'firetruck', 'kitten']</li>

<p>Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:</p>
<li>a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,</li>
<li>b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and</li>
<li>c. overloads the __str__ operator so it behaves as shown below.</li>

<p>>>> k = Kangaroo(0,0)</p>
<li>>>> print(k)</li>
<li>I am a Kangaroo located at coordinates (0,0)</li>
<li>>>> k.put_in_pouch('doll')</li>
<li>>>> k.put_in_pouch('firetruck')</li>
<li>>>> k.put_in_pouch('kitten')</li>
<li>>>> k.pouch_contents()</li>
<li>['doll', 'firetruck', 'kitten']</li>
<li>>>> k.jump(1,0)</li>
<li>>>> k.jump(1,0)</li>
<li>>>> k.jump(1,0)</li>
<li>>>> print(k)</li>
<li>I am a Kangaroo located at coordinates (3,0)</li>

In [89]:
class Marsupial:
    # initialize the class to be an empty list
    def __init__(self):
        self.q = []
    
    # append items to the same list
    def put_in_pouch(self, item):
        self.q.append(item)

    # return the contents of the same list
    def pouch_contents(self):
        return self.q

m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

class Kangaroo(Marsupial):
    def __init__(self, x_coordinate, y_coordinate):
        Marsupial.__init__(self)
        self.x_coordinate = x_coordinate
        self.y_coordinate = y_coordinate

    def jump(self, dx, dy):
        self.x_coordinate = self.x_coordinate + dx
        self.y_coordinate = self.y_coordinate + dy

    def __repr__(self):
        return("I am a Kangaroo located at coordinates ({0},{1})".format(self.x_coordinate, self.y_coordinate))

k = Kangaroo(0,0)
print(k)

k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

<h2><font color='#004b87'>Question 4 Python</font></h2>
<p></p>
<li>Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:</li>

<p>x = { 洧논/2    洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐</p>
<li>     3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬</li>

<p>Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.</p>

<p>>>> collatz(1)</p>
<li>1</li>
<li>>>> collatz(10)</li>
<li>10</li>
<li>5</li>
<li>16</li>
<li>8</li>
<li>4</li>
<li>2</li>
<li>1</li>

In [90]:
def collatz(x):
    # this will check if x is a positive integer (i.e. greater than 1 or not)
    if(x) > 1:
        # this will round the number to ensure there aren't any decimals in the output
        print(round(x))
        # if x is even, then the number will be divided by 2
        # and result will be stored in x, then calling the collatz function again
        if x % 2 == 0:
            x /= 2
            collatz(x)
        
        # if x is odd, then the number will be multiplied by 3 + 1
        # and result will be stored in x, then calling the collatz function again
        else:
            x = x * 3 + 1
            collatz(x)
    
    # otherwise if x is 1 or less than 1, then the output is only 1.
    else:
        print(1)

collatz(10)

10
5
16
8
4
2
1

<h2><font color='#004b87'>Question 5 Python</font></h2>
<p></p>
<li>Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.</li>

<p>>>> binary(0)</p>
<li>0</li>
<li>>>> binary(1)</li>
<li>1</li>
<li>>>> binary(3)</li>
<li>11</li>
<li>>>> binary(9)</li>
<li>1001</li>

In [91]:
def binary(n):
    # if the value is less than 0, there will be an error
    try:
        if n < 0:
            raise ValueError(n)
        
        # otherwise, the output will print
        elif n > 1:
            binary(n // 2)
        print(n % 2,end = '')

    except ValueError:
        print("Only a non-negative number is permitted, please try again")

binary(9)

1001

<h2><font color='#004b87'>Question 6 Python</font></h2>
<p></p>
<li>Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser.</li>

<p>When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document.</p>

<p>Each heading should be indented as follows:</p>
<li>an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc.</li>
<li>Test your implementation using w3c.html.</li>

<p>>>> infile = open('w3c.html')</p>
<li>>>> content = infile.read()</li>
<li>>>> infile.close()</li>
<li>>>> hp = HeadingParser()</li>
<li>>>> binary(3)</li>
<li>>>> hp.feed(content)</li>
<li>W3C Mission</li>
<li>  Principles</li>

In [92]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):

    # initially an evaluation of each heading
    h1_check_val = False
    h2_check_val = False
    h3_check_val = False
    h4_check_val = False
    h5_check_val = False
    h6_check_val = False

    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.h1_check_val = True
        if tag == "h2":
            self.h2_check_val = True
        if tag == "h3":
            self.h3_check_val = True
        if tag == "h4":
            self.h4_check_val = True
        if tag == "h5":
            self.h5_check_val = True
        if tag == "h6":
            self.h6_check_val = True
    
    # depending on the type of heading used, a tab with whitespace is added except for H1
    def handle_data(self, data):
        if(self.h1_check_val):
            print(data)
            self.h1_check_val = False
        
        if(self.h2_check_val):
            print("\t" * 2 + data)
            self.h2_check_val = False
        
        if(self.h3_check_val):
            print("\t" * 3 + data)
            self.h3_check_val = False
        
        if(self.h4_check_val):
            print("\t" * 4 + data)
            self.h4_check_val = False

        if(self.h5_check_val):
            print("\t" * 5 + data)
            self.h5_check_val = False

        if(self.h6_check_val):
            print("\t" * 6 + data)
            self.h6_check_val = False

infile = open("w3c.html")
content = infile.read()
infile.close()

headingParser = HeadingParser()
headingParser.feed(content)

W3C Mission
 Principles

<h2><font color='#004b87'>Question 7 Python</font></h2>
<p></p>
<li>Implement recursive function webdir() that takes as input:</li>
<li>a URL (as a string) and non-negative integers depth and indent.</li>

<p>Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL.</p>

<p>As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.</p>

<p>>>></p>
<li>webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)</li>
<li>http://reed.cs.depaul.edu/lperkovic/csc242/test1.html</li>
<li>http://reed.cs.depaul.edu/lperkovic/csc242/test2.html</li>
<li>http://reed.cs.depaul.edu/lperkovic/csc242/test4.html</li>
<li>http://reed.cs.depaul.edu/lperkovic/csc242/test3.html</li>
<li>http://reed.cs.depaul.edu/lperkovic/csc242/test4.html:</li>

In [93]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    
    def handle_starttag(self, tag, attrs):
        if tag == "a":
            for attr in attrs:
                if attr[0] == "href":
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == "http": 
                        self.links.append(absolute)
    
    def getLinks(self):
        return self.links

visited = set()

def webdir(url, depth, indent):
    global visited     
    visited.add(url) 
    links = analyze(url)
    for link in links:
        if link not in visited:
            try:
                print('',link)
            except:
                print(link)

webdir("http://reed.cs.depaul.edu/lperkovic/one.html", 2, 0)

 http://reed.cs.depaul.edu/lperkovic/two.html
 http://reed.cs.depaul.edu/lperkovic/three.html

<h2><font color='#004b87'>Question 8 SQL</font></h2>
<p></p>
<li>Write SQL queries on the below database table that return:</li>

<p>a) All the temperature data.</p>
<li>b) All the cities, but without repetition.</li>
<li>c) All the records for India.</li>
<li>d) All the Fall records.</li>
<li>e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.</li>
<li>f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.</li>
<li>g) The total annual rainfall for Cairo.</li>
<li>h) The total rainfall for each season.</li>

<li>I am first creating the table and displaying it since the table doesn't yet exist. Then I will answer each question.</li>
<li>I learned how to connect SQL with Jupyter Notebook by using these two resources:</li>

<p>https://www.datacamp.com/community/tutorials/sql-interface-within-jupyterlab</p>
<li>https://towardsdatascience.com/how-to-run-sql-queries-from-a-jupyter-notebook-aaa18e59e7bc</li>

In [4]:
%%sql
CREATE TABLE various_cities
(
    City        varchar(25),
    Country     varchar(25),
    Season      varchar(10),
    Temperature float,
    Rainfall    float
);

INSERT INTO various_cities
VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9),
       ('Mumbai', 'India', 'Spring', 28.4, 16.2),
       ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
       ('Mumbai', 'India', 'Fall', 27.6, 346.0),
       ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
       ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
       ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
       ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
       ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
       ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
       ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
       ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
Done.
12 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

<li>I am displaying the entire table prior to answering each question.</li>

In [78]:
%%sql

SELECT *
FROM various_cities;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

<h2><font color='#004b87'>Question 8a SQL</font></h2>
<p></p>
<li>a) All the temperature data.</li>

In [79]:
%%sql

SELECT Temperature
FROM various_cities;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

<h2><font color='#004b87'>Question 8b SQL</font></h2>
<p></p>
<li>b) All the cities, but without repetition.</li>

In [80]:
%%sql

SELECT DISTINCT(city)
FROM various_cities;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

<h2><font color='#004b87'>Question 8c SQL</font></h2>
<p></p>
<li>c) All the records for India.</li>

In [81]:
%%sql

SELECT *
FROM various_cities
WHERE country = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

<h2><font color='#004b87'>Question 8d SQL</font></h2>
<p></p>
<li>d) All the Fall records.</li>

In [82]:
%%sql

SELECT *
FROM various_cities
WHERE season = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

<h2><font color='#004b87'>Question 8e SQL</font></h2>
<p></p>
<li>e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.</li>

In [83]:
%%sql

SELECT city, country, season, rainfall
FROM various_cities
WHERE rainfall BETWEEN 200 AND 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 346.0),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('London', 'United Kingdom', 'Fall', 218.5)]

<h2><font color='#004b87'>Question 8f SQL</font></h2>
<p></p>
<li>f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.</li>

In [84]:
%%sql

SELECT city, country
FROM various_cities
WHERE season = 'Fall' AND temperature > 20
ORDER BY temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

<h2><font color='#004b87'>Question 8g SQL</font></h2>
<p></p>
<li>g) The total annual rainfall for Cairo.</li>

In [85]:
%%sql

SELECT city, sum(rainfall) AS Total_Annual_Rainfall
FROM various_cities
WHERE city = 'Cairo';

 * sqlite://
Done.

[('Cairo', 27.6)]

<h2><font color='#004b87'>Question 8h SQL</font></h2>
<p></p>
<li>h) The total rainfall for each season.</li>

In [86]:
%%sql

SELECT season, sum(round(rainfall)) AS Total_Rainfall
FROM various_cities
GROUP BY season;

 * sqlite://
Done.

[('Fall', 570.0), ('Spring', 193.0), ('Summer', 1706.0), ('Winter', 231.0)]

<h2><font color='#004b87'>Question 9 Python</font></h2>
<p></p>
<li>Suppose list words is defined as follows:</li>
<li>>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']</li>

<p>Write list comprehension expressions that use list words and generate the following lists:</p>

In [87]:
# a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
listA = [x.upper() for x in words]
print(listA)

# b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

listB = [x.lower() for x in words]
print(listB)

# c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

listC = [len(x) for x in words]
print(listC)

# d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
# ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase
# and the length of the word.)

listD = [[x.upper(), x.lower(), len(x)] for x in words]
print(listD)

# e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# (the list of words in list words containing 4 or more characters.)

listE = [x for x in words if len(x) >= 4]
print(listE)

# Please note: in the PDF, it shows a lot more words, but the only words with 4 or more characters are the ones in my
# output ("quick", "brown", "jumps", "over", "lazy")

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']

In [2]:
%load_ext sql

In [3]:
%sql sqlite://